/*Header*/ 
header{height:80px;
}
ul{list-style-type: none;
}

/*Jumbotron*/
.jumbotron{height:400px;}
.user{height:200px;}

/*Portfolio*/ 
.portfolio{height:auto;}
.portfolio-container .col{
height:auto;
}


/*About*/ 
.about{height:500px;}
.col{
max-height:300px;
    
}
a{text-decoration: none;}
/*Contact me*/
.container-contact div{border-bottom: 1px solid black;}
/*Info*/

.info .col{height:100px;}
/*Footer*/
footer{height:80px;}

img{display:block;
    max-height: 100%;
width:100%;}

