/*Header*/ 
header{height:80px;
}
ul{list-style-type: none;
}

/*Jumbotron*/
.jumbotron{height:400px;}


/*Portfolio*/ 
.portfolio{height:800px;}
.portfolio-container .col{border:dashed;
height:100px;
}
.row{border:dashed;}

/*About*/ 
.about{height:400px;}
.col{border: dashed;}
a{text-decoration: none;}
/*Contact me*/
.container-contact div{border-bottom: 1px solid black;}